:root{
    --color-brand-1: #0000FF;
    --color-brand-2: #3532FF;
    --color-action-1: #36B37E;
    --color-action-2: #FF5630;
    --color-action-3: #FFAB00;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #ADB5BD;
    --color-grey-4: #E9ECEF;
    --color-grey-5: #F1F3F5;
    --color-mode: #FFFFFF;

}
.toast__container {
    position: fixed;
    top: 2rem;
    right: 2rem;
  
    border: 1px solid;
    color: var(--grey-100);
  
    width: 200px;
    height: 100px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    animation: fadeIn 1s linear;
  }
  
  .toast__fadeOut {
    animation: fadeOut 1s linear;
  }
  .hidden {
    display: none;
  }
  @keyframes fadeIn {
    0% {
      transform: translateY(-150%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
  
    100% {
      transform: rotate(180deg);
      scale: 0.1;
      opacity: 0;
    }
  }
